.Chat {
  padding: 1rem 2rem;
  background-color: #fff;
  flex: 10;
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  overflow-y: auto;
}

.Chat ul.messages {
  list-style: none;
  padding: 0;
  margin: 0;
}
