.App {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  width: 100%;
  background-color: #00AA86;
  border: 4px solid #00AA86;
  border-width: 0 4px;
}

.App h1 {
  margin: 5px 1rem 1rem;
  text-align: center;
  color: #fff;
}
